################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TaxCalculator/.vs/TaxCalculator/v16
/TaxCalculator/TaxCalculator/obj
