<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IncomeTaxValue" value="0,1" />
    <add key="IncomeTaxBoundary" value="1000" />
    <add key="SocialContributionTaxValue" value="0,15" />
    <add key="SocialContributionTaxLowerBoundary" value="1000" />
    <add key="SocialContributionTaxUpperBoundary" value="3000" />
  </appSettings>
</configuration>